<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096521901619-hbu30dkr4q5b4a5o9o3v80to779ob77u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096521901619-hbu30dkr4q5b4a5o9o3v80to779ob77u</string>
	<key>API_KEY</key>
	<string>AIzaSyCDSYhGBaa6x_UvUIaeQJBxy196ftgpRzA</string>
	<key>GCM_SENDER_ID</key>
	<string>1096521901619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ledgerleopard.UnitTestWithPod</string>
	<key>PROJECT_ID</key>
	<string>sicsdk-80ef2</string>
	<key>STORAGE_BUCKET</key>
	<string>sicsdk-80ef2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096521901619:ios:fab203dfdfab81e7b16546</string>
</dict>
</plist>