UnitTestWithPod/Pods/
UnitTestWithPod/build/
UnitTestWithPod/archive/
UnitTestWithPod/.idea/
UnitTestWithPod/VERSION
UnitTestWithPod/test_sic_zip/
UnitTestWithPod/UnitTestWithPod.xcframework
UnitTestWithPod/UnitTestWithPod.framework
UnitTestWithPod/UnitTestWithPod.framework.zip
UnitTestWithPod/UnitTestWithPod.xcworkspace/xcuserdata/

UnitTestWithPodApp/.idea/
UnitTestWithPodApp/Pods/
UnitTestWithPodApp/build/
UnitTestWithPodApp/VERSION
UnitTestWithPodApp/SDK
UnitTestWithPodApp/UnitTestWithPodAPP.xcworkspace/xcuserdata/


*.DS_Store
