<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288436032969-7hfah3fc3o45r78d3r2bs5a8lf81d1i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288436032969-7hfah3fc3o45r78d3r2bs5a8lf81d1i1</string>
	<key>API_KEY</key>
	<string>AIzaSyDA_EOaccqUIgFGv0dZwl3qBaOWJPv3YDc</string>
	<key>GCM_SENDER_ID</key>
	<string>288436032969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ledgerleopard.UnitTestWithPodAPP</string>
	<key>PROJECT_ID</key>
	<string>sicapp-a06a6</string>
	<key>STORAGE_BUCKET</key>
	<string>sicapp-a06a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288436032969:ios:7d401e534fee67a0054418</string>
</dict>
</plist>